.content-wrapper {
  max-width: 800px;
  margin: auto;
  background: white;
  border-radius: 0.2rem;
  margin-bottom: 8rem; }

body {
  background: #eee;
  background: white;
  margin: 0 auto;
  font-family: 'Overpass', sans-serif;
  background: #CADCF1;
  color: #131B43;
  font-size: 200%; }
  body p {
    font-family: 'Overpass', sans-serif;
    color: #131B43;
    font-size: 2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Secular One', sans-serif;
  text-align: left;
  line-height: 3.8rem;
  margin-bottom: 0; }

body > h1:first-of-type {
  margin: 0;
  border-bottom: 1px solid #CADCF1;
  margin-bottom: 0.4rem;
  background: #131B43;
  padding: 1rem 0;
  display: block; }
  body > h1:first-of-type span:nth-of-type(1) {
    color: #00B1C4; }
  body > h1:first-of-type span:nth-of-type(2) {
    color: #DCF600; }

.pure-button-primary {
  background: #06D57E !important; }

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.l-box {
  padding: 1em; }

.enhancement-box {
  width: 33%;
  padding-right: 0.5em; }
  .enhancement-box:last-child {
    padding-right: 0em; }

.enhancement {
  border: 3px solid #dddddd;
  padding: 0.5em;
  height: 300px;
  margin-bottom: 1em;
  margin-top: 2rem; }

.highlighted {
  border: 3px solid #06D57E; }

.is-centered {
  text-align: center; }

.visuallyhidden {
  display: none; }

#congratsContent {
  font-size: 1.8em;
  line-height: 4rem; }

img.mentor-image {
  max-width: 100%; }

table {
  width: 100%; }
  table td.income-amount {
    text-align: right; }
  table th {
    text-align: right;
    padding-bottom: 0.5em; }

.level-image {
  width: 100%; }

.button-xlarge {
  font-size: 125%; }

.pure-button {
  width: 100%; }

.well-done-image {
  display: block;
  width: 70%;
  margin: 0 auto; }

.enhancement-radio {
  display: none; }

.enhancement-label {
  width: 100%;
  height: 100%; }
  .enhancement-label .copy {
    width: 60%;
    float: left; }
    .enhancement-label .copy h3 {
      margin-top: 0.5em; }

.mentor-description {
  margin-top: 0;
  padding-left: 1em; }

.enhancement-image {
  float: right;
  width: 40%; }

.circle {
  border-radius: 50%;
  width: 100;
  height: 100; }

.set-goal {
  background: #DCF600; }
