---
title:
---

<h1>
  Grow your pot
</h1>


<p>
You could grow your pot using the <span id="enhancement-monthly-amount">£...</span> a month you're currently spending on <span id="enhancement-name">...</span>.
<p>

<h2>Did you know?</h2>

<p>
That <span id="enhancement-money-per-time">...</span> could earn you an income of <span id="enhancement-income-20-years">£100</span> per month in 20 years.
</p>

<p>
Your target income is £1,500 per month.
</p>

<%= link_to("Grow my pot!", "well-done-next-level") %>

<script>

ready(function() {
    var enhancementNameSpan = document.getElementById('enhancement-name'),
        enhancementMonthlyAmount = document.getElementById('enhancement-monthly-amount'),
        enhancementMoneyPerTime = document.getElementById('enhancement-money-per-time'),
        enhancementIncomeTwentyYears = document.getElementById('enhancement-income-20-years');

  enhancementNameSpan.innerHTML = getEnhancementProperty('friendlyName');
  enhancementMonthlyAmount.innerHTML = getEnhancementProperty('monthlyAmount');
  enhancementMoneyPerTime.innerHTML = getEnhancementProperty('moneyPerTime');
  enhancementIncomeTwentyYears.innerHTML = getEnhancementProperty('incomeTwentyYears');



});

</script>

