---
title:
---

<h1>
  The real value of <span class="enhancement-name">...</span>
</h1>

<p>
  At the moment you spend <span id="enhancement-monthly-amount">£...</span> a month on <span class="enhancement-name">...</span>.
<p>

<p>
  Rather than making someone else rich, you could put that money to work for you.
</p>

<img id="graph-image" style="max-width: 100%"></img>

<h2>If you invested <span id="enhancement-money-per-time">...</span></h2>

<p>
You would start getting a <b>passive income</b>. That's money you earn without working.
</p>

<table>
  <tbody>
    <tr>
      <td id="enhancement-income-ten-years">...</td>
      <td>in 10 years</td>
    </tr>

    <tr>
      <td id="enhancement-income-twenty-years">...</td>
      <td>in 20 years</td>
    </tr>

    <tr>
      <td id="enhancement-income-thirty-years">...</td>
      <td>in 30 years</td>
    </tr>
  </tbody>
</table>

<p>
On its own, this might not seem like much.
</p>

<p>
But making many small tweaks like this adds up to a life-changing amount of money.
</p>

<%= link_to("Ditch the ...", "well-done-next-level", class: 'pure-button pure-button-primary button-xlarge', :id => 'ditch-button') %>

<script>

ready(function() {
    var enhancementNameSpan = document.getElementById('enhancement-name'),
        enhancementNameElements = document.getElementsByClassName('enhancement-name'),
        enhancementMonthlyAmount = document.getElementById('enhancement-monthly-amount'),
        enhancementMoneyPerTime = document.getElementById('enhancement-money-per-time'),
        enhancementIncomeTenYears = document.getElementById('enhancement-income-ten-years'),
        enhancementIncomeTwentyYears = document.getElementById('enhancement-income-twenty-years'),
        enhancementIncomeThirtyYears = document.getElementById('enhancement-income-thirty-years'),
        graphImg = document.getElementById('graph-image'),
        ditchButton = document.getElementById('ditch-button');

  for(var i=0; i < enhancementNameElements.length ; ++i) {
    enhancementNameElements[i].innerHTML = getEnhancementProperty('shortName');
  }
  enhancementMonthlyAmount.innerHTML = getEnhancementProperty('monthlyAmount');
  enhancementMoneyPerTime.innerHTML = getEnhancementProperty('moneyPerTime');

  enhancementIncomeTenYears.innerHTML = getEnhancementProperty('incomeTenYears') + ' per month';
  enhancementIncomeTwentyYears.innerHTML = getEnhancementProperty('incomeTwentyYears') + ' per month';
  enhancementIncomeThirtyYears.innerHTML = getEnhancementProperty('incomeThirtyYears') + ' per month';

  ditchButton.innerHTML = 'Ditch the ' + getEnhancementProperty('shortName');

  graphImg.src = '../images/' + getEnhancementProperty('imagePath');

});

</script>

