---
title:
---

<h1>
  Select an enhancement
</h1>

<ul>
  <li>Make your own coffee, sack Starbucks</li>
  <li>Drink one less beer per week</li>
</ul>

<p>
  [graph which goes up and to the right, changes depending what you click on]
</p>

<a href="add-to-your-pot">Show me how £60 will enhance my life</a>
