---
title:
---

<h1>
  Let's ditch something
</h1>

<form>
  <div class="enhancement">
    <input type="radio" name="enhancement" value="coffee" id="coffee" class="enhancement-radio">
      <label for="coffee" class="enhancement-label">
        <div class="copy">
          <h3>Sack Starbucks</h3>
          <p>Brew your own third-wave coffee</p>
        </div>
        <img src="/images/coffee.png" class="enhancement-image" />
      </label>
    </input>
  </div>

  <div class="enhancement">
    <input type="radio" name="enhancement" value="lunch" id="lunch" class="enhancement-radio">
      <label for="lunch" class="enhancement-label">
        <div class="copy">
          <h3>Ditch the deli</h3>
          <p>Bring your own healthy, home-made lunch</p>
        </div>
        <img src="/images/sandwich.png" class="enhancement-image" />
      </label>
    </input>
  </div>

</form>

<%= link_to("...", "add-to-your-pot", :id => "show-me-button", class: 'visuallyhidden pure-button pure-button-primary') %>

<script>

var enhancements = [
  {'id': 'coffee',
   'shortName': 'coffee',
   'friendlyName': 'one coffee a day',
   'moneyPerTime': '£3 a day',
   'monthlyAmount': '£60',
   'incomeTenYears': '£33',
   'incomeTwentyYears': '£98',
   'incomeThirtyYears': '£227',
   'imagePath': 'coffee-graph.png',
  },
  {'id': 'lunch',
   'shortName': 'lunch',
   'friendlyName': 'lunch out every day',
   'moneyPerTime': '£6 a day',
   'monthlyAmount': '£120',
   'incomeTenYears': '£66',
   'incomeTwentyYears': '£197',
   'incomeThirtyYears': '£453',
   'imagePath': 'lunch-graph.png',
  },
];

ready(function() {
  var allRadios = document.getElementsByName('enhancement');

  for(var i = 0; i < allRadios.length; ++i) {
    allRadios[i].addEventListener('click', handleRadioClick);
  }
});

function getEnhancementById(id) {
  for(var i = 0 ; i < enhancements.length; ++i) {
    if(enhancements[i].id == id) {
      return enhancements[i];
    }
  }

  console.error("no enhancement with id `" + id + "`");
}

function handleRadioClick(event) {
  console.log(event.target.value);
  highlightEnhancementDiv(event.target.parentElement);

  setCurrentEnhancement(getEnhancementById(event.target.value));
}

function setCurrentEnhancement(enhancement) {
  var showMeButton = document.getElementById('show-me-button');

  console.log(enhancement);

  showMeButton.innerHTML = 'Show me what ' + enhancement.moneyPerTime + ' is really worth';

  removeClass(showMeButton, 'visuallyhidden');

  localStorage.setItem("enhancement", JSON.stringify(enhancement));
}

function highlightEnhancementDiv(enhancementDiv) {
  var enhancementDivs = document.getElementsByClassName('enhancement');
  var className = 'highlighted';

  for(var i = 0 ; i < enhancementDivs.length; ++i) {
    var el = enhancementDivs[i]
    if (el.classList)
      el.classList.remove(className);
    else
      el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
  }

  if (enhancementDiv.classList)
    enhancementDiv.classList.add(className);
  else
    enhancementDiv.className += ' ' + className;
}

</script>
