---
title: Level Up
---

<h1 class='is-centered'>Level Up</h1>
<p>What do you want to achieve?</p>

<% goals.each do |goal| %>
  <p>
    <%= link_to(goal[:friendlyTitle], "well-done-set-a-goal", :class => "set-goal", :id => goal[:id] ) %>
  </p>
<% end %>

<script>
  var goals = <%= JSON(goals) %>;

  function getGoalForId(id) {
    for (var i = 0; i < goals.length; i++) {
      if (goals[i].id == id) {
        return goals[i];
      }
    }
    console.error('No goal found for id ' + id);
  }

  function writeGoal(goal) {
    localStorage.setItem("goal", JSON.stringify(goal));
  }

  ready(function() {
    var goalLinks = document.getElementsByClassName('set-goal');
    for (var i = 0; i < goalLinks.length; i++) {
      goalLink = goalLinks[i];
      goalLink.addEventListener('click', function(event) {
        writeGoal(getGoalForId(event.target.id));
      });
    }
  });
</script>
