---
title: Level Up
---

<h1 class='is-centered'>Level Up</h1>
<p>What do you want to achieve?</p>


<form class="pure-form">
  <label for="option-one" class="pure-radio">
    <a href="well-done-set-a-goal">
    Never have to answer to your boss again
    </a>
  </label>

  <label for="option-two" class="pure-radio">
    <a href="well-done-set-a-goal">
    Never have to worry about money
    </a>
  </label>

  <label for="option-three" class="pure-radio">
    <a href="well-done-set-a-goal">
    Choose the work you want to do
    </a>
  </label>

  <label for="option-four" class="pure-radio">
    <a href="well-done-set-a-goal">
    Spend all your time with the people you love
    </a>
  </label>
