---
title: Level Up
---

<h1 class='is-centered'>Level Up</h1>
<p>What do you want to achieve?</p>

<% goals.each do |goal| %>
  <p>
    <a href="well-done-set-a-goal" class='set-goal' id="<%= goal[:id] %>">
      <%= goal[:friendlyTitle] %>
    </a>
  </p>
<% end %>

<script>
  function ready(fn) {
    if (document.readyState != 'loading'){
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  }

  function writeGoal(goal) {
    localStorage.setItem("goal", goal);
  }

  ready(function() {
    var goalLinks = document.getElementsByClassName('set-goal');
    for (var i = 0; i < goalLinks.length; i++) {
      goalLink = goalLinks[i];
      goalLink.addEventListener('click', function(event) {
        writeGoal(event.target.id);
      });
    }
  });
</script>
