---
title:
---

<h1>
  Your pot
</h1>

<p>
Your pot is paying you £3.00 per month
</p>

<p>
Your target is £1,500 per month
</p>

You'll be able to sack your boss in 24 years.

<h2>Get there faster!</h2>

<ul>
  <li>
    <a href="#">Make more life enhancements</a>
  </li>

  <li>
    <a href="#">Take on a second job</a>
  </li>
</ul>
