---
title:
---

<h1>
  Your pot
</h1>

<p>
[something about what income your pot is / will be making]
</p>

<p>
Your target is £1,500 per month
</p>

You'll be able to sack your boss in 24 years.

<h2>Get there faster!</h2>

<ul>
  <li>
    <%= link_to("Make more life enhancements", "#") %>
  </li>

  <li>
    <%= link_to("Take on a second job", "#") %>
  </li>
</ul>
