---
title:
---

<h1>
  Level 3: connect with <span class="mentor-name">...</span>
</h1>

<p>
Your mentor <span class="mentor-name">...</span> is there for you on your journey to financial freedom. Mentors aren't experts, but they have grown their passive income by cutting spending, and can be there with a friendly word of encouragement when you need it.
</p>

<p>
  <span class="mentor-name">...</span> will check in with you in a month and make sure you're on target to meet your goals.
</p>

<label for="email">Enter your email address
  <input placeholder="name@example.com" id="email"style="width: 100%;" type="email"></input>
</label>

<p>
  <%= link_to("Connect with ...", "#", class: 'pure-button pure-button-primary button-xlarge', :id => 'connect-button') %>
</p>

<h2>In the meantime</h2>

<p>
  Here are some ways you grow your passive income faster.
</p>

<ul>
  <li>
    <%= link_to("Do you really need a car?", "#") %>
  </li>

  <li>
    <%= link_to("Take on a second job", "#") %>
  </li>
</ul>



<script>
  ready(function() {
      var mentorNameElements = document.getElementsByClassName('mentor-name'),
          connectButton = document.getElementById('connect-button'),
          mentorName = getGoalProperty('mentorName');

    connectButton.innerHTML = 'Connect with ' + mentorName;

    for(var i=0 ; i < mentorNameElements.length; ++i) {
      mentorNameElements[i].innerHTML = mentorName;
    }
  });
</script>
