---
title:
---

<h1>
  Cut spending and boost income
</h1>



<p>
Your target is to reduce your spending to £1,500 a month.
</p>

<p>
  How quickly this happens is up to you. Ditching the [coffee] is a good start, but the more you cut out, the faster you'll reach your goal.
</p>

<p>
  And when you have cash left over - you can invest it and make it work for you.
</p>

<h2>Get there faster!</h2>

<ul>
  <li>
    <%= link_to("Do you really need a car?", "#") %>
  </li>

  <li>
    <%= link_to("Take on a second job", "#") %>
  </li>
</ul>

<h2>
  Your mentor is there for you
</h2>

<p>
  Your mentor [name] is there for you on your journey to financial freedom. Mentors aren't experts, but they have grown their passive income by cutting spending, and can be there with a friendly word of encouragement when you need it.
</p>

<p>
  <%= link_to("Get in touch with your mentor", "#", class: 'pure-button pure-button-primary button-xlarge') %>
</p>
