---
title: Level Up
---

<h1 class='is-centered'>Level 1: achieved</h1>

<p id='congratsContent'></p>

<p>
  Well done, you've picked your Level Up goal. That's the first step.
</p>
<p>
 Next you'll decide how you're going to do it.
</p>
  It beings when you start to make small life enhancements.
</p>
<p>
  But first, <a href="youre-not-alone">
  meet someone who's been here before</a>.</p>

<script>
  ready(function() {
    document.getElementById('congratsContent').innerHTML = getGoalProperty('congratsContent');
  });
</script>
