---
title: Level Up
---

<img src="/images/level-1.svg" class="level-image" />

<h1 class='is-centered'>Well done, you've reached level 1</h1>

<p id='congratsContent'></p>

<p>
[smiley face]
</p>

<p>100% achievable!</p>

<p>
We'll start with small life enhancements.
</p>

<%= link_to("Get started", "youre-not-alone", class: 'pure-button pure-button-primary button-xlarge') %>

<script>
  ready(function() {
    document.getElementById('congratsContent').innerHTML = getGoalProperty('congratsContent');
  });
</script>
