---
title: Level Up
---

<h1 class='is-centered'>Well done, you've reached level [?]</h1>

<p id='congratsContent'></p>

<p>
[smiley face]
</p>

<p>100% achievable!</p>

<p>
We'll start with small life enhancements.
</p>

<a href="youre-not-alone">
  Get started
</a>

<script>
  ready(function() {
    document.getElementById('congratsContent').innerHTML = getGoalProperty('congratsContent');
  });
</script>
