---
title: Level Up
---

<img src="/images/level-2.svg" class="level-image" />

<h1 class='is-centered'>Well done, you've reached level 2</h1>

<img src="/images/well-done.svg" class="well-done-image" />

<p>
  You've committed to growing your pot by <span id="enhancement-monthly-amount">...</span> per month.
</p>

<p>
Over time this will turn into income that is paid to you, without working.
</p>


<%= link_to("View your pot", "view-your-pot", class: 'pure-button pure-button-primary button-xlarge') %>

<script>

ready(function() {
  var enhancementMonthlyAmount = document.getElementById('enhancement-monthly-amount');

  enhancementMonthlyAmount.innerHTML = getEnhancementProperty('monthlyAmount');
});

</script>
