---
title: Level Up
---

<h1 class='is-centered'>Well done, you've reached level [?]</h1>

<p>
You've committed to growing your pot by £60 per month.
</p>

<p>
Over time this will turn into income that is paid to you, without working.
</p>


<%= link_to("View your pot", "view-your-pot") %>
