---
title: Level Up
---

<img src="/images/level-1.svg" class="level-image" />
<h1 class='is-centered'>Level 1: achieved</h1>

<img src="/images/well-done.svg" class="well-done-image" />

<p id='congratsContent'></p>

<p>
  Well done, you've picked your Level Up goal. That's the first step.
</p>

<p>
 Next you'll decide how you're going to do it.
</p>

<p>
  It begins when you start to make small life enhancements.
</p>

<p>
  But first, meet someone who's been here before.
</p>

<%= link_to("Get inspired", "youre-not-alone",
            class: 'pure-button pure-button-primary button-xlarge',
            :id => 'meetMentorButton') %>
</p>

<script>
  ready(function() {
    document.getElementById('congratsContent').innerHTML = getGoalProperty('congratsContent');
    document.getElementById('meetMentorButton').innerHTML = 'Meet ' + getGoalProperty('mentorName');
  });
</script>
