---
title:
---

<h1>
  Your path to freedom
</h1>

<p>
You need to make £1,500 per month, so we'll need to make a few enhancements.
</p>


<%= link_to("Pimp my life", "enhance-my-life", class: 'pure-button pure-button-primary button-xlarge') %>
