---
title:
---

<h1>
  It's all about how much you spend
</h1>

<p>
It's not about how much you <em>earn</em>, or how much you put away.
</p>

<p>
It's about how much you <em>spend</em>.
</p>

<p>
Instead of thinking about what you earn, think about how much you need. If you need a lot less than you earn, you're in a great position.
</p>

<p>
And it's much easier to change your lifestyle than your income.
</p>

<p>
  It's possible to live well on £1,500 per month. Let's aim for that figure for now.
</p>


<%= link_to("Let's ditch something", "enhance-my-life", class: 'pure-button pure-button-primary button-xlarge') %>
