---
title:
---

<h1>
  You're not alone
</h1>

<p>
James is well on his way
</p>
<ul>
  <li>Sold his car</li>
</ul>

<p>
[case study, aspirational, talk to the goal]
</p>

<%= link_to("Let's do it", "you-need-to-make", class: 'pure-button pure-button-primary button-xlarge') %>
